<head>
    <link rel="stylesheet" runat="server" media="screen" href="~/css/styles.css" />
    <script src="~/js/r.js"></script> 
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
</head>
<body>

<h1>@ViewData["subreddit"]</h1>

@* <a href="/reddit/createpost">Create Post</a> *@
@await Html.PartialAsync("CreatePost.cshtml", (RedditPost)null, ViewData)



<div id="grid">
</div>
<div class="last"></div>
</body>
